name: Setting up CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  my-job:
    name: Verify calculator
    runs-on: ubuntu-16.04
    steps:

    - name: Setting up Go env
      uses: actions/setup-go@v2.1.3
      with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
        go-version: 1.16.4
      
    - name: Check Go Version
      run: go version
    
    - name: Upload to Ubuntu
      uses: actions/checkout@v2
      
    - name: Install dependencies
      run: |
        go get github.com/franela/goblin
        go get github.com/tebeka/go2xunit
        go test -v  | go2xunit > report.xml
   
    - name: Resolve dependencies
      run: |
        go mod init calculator-main
        go mod tidy
        
    - name: Upload file from private repo to Ubuntu
      uses: actions/checkout@v2
      with:
        repository: lowkh2/GoSchoolRemoteExample
        path: GoSchoolRemoteExample
        token: ${{ secrets.GO_REMOTE }}
        
    - name: Verify for successful download
      run: |
        cd GoSchoolRemoteExample
        cat myText.txt
        cd ..
        
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: report.xml
    - if: ${{ failure() }}
      name: Create Issues
      uses: nashmaniac/create-issue-action@v1.1
      with:
          title: Build Failed
          token: ${{secrets.GITHUB_TOKEN}}
          assignees: ${{github.actor}}
          labels: workflow-failed
          body: Workflow failed for commit ${{github.sha}}
    
